<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="../static/css/styles1.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="index1.html"><img src="../static/images/Flight Icon.png" alt="Logo" height="40"></a>
        </div>
        <ul class="nav-links">
            <li><a href="index1.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="features.html">Features</a></li>
            <li><a href="working.html">Working</a></li>
        </ul>
        <div class="auth-buttons">
            <button class="button" id="login">Log In</button>
            <button class="button" id="signup">Sign Up</button>
        </div>
    </nav>
    <main>
        <section id="hero-section">
            <div>
                <h1>Unlock the best</h1>
                <h1>flight deals.</h1>
            </div>
            <div>
                <h2>Your journey starts with the right fare.</h2>
            </div>
            <div>
                <p class="hero-text">Join thousands of travelers using our Flight Price Predictor to find the<br>best fares. One tool to help you compare, plan, and book your flights<br>effortlessly from anywhere.</p>
            </div>
            <a href="/home"><button type="button" class="button" onclick="bookFlight()">Check Flights →</button></a>
        </section>
    </main>>
</body>
</html>